.fast_view_frame.popup .product-container,
.fast_view_frame.popup .catalog-detail,
.fast_view_frame.popup .catalog-detail .form {
  height: 100%;
  display: block;
}
.fast_view_frame.popup .jqmClose.top-close {
  z-index: 2;
}

.fast_view_frame.popup .catalog-detail__top-info {
  --padding: 32px;
}
.fast_view_frame.popup .catalog-detail__main {
  flex-shrink: 0;
  flex-basis: auto;
  min-width: 0px;
}
.fast_view_frame.popup .catalog-detail__main-wrapper {
  padding: var(--padding) var(--padding) var(--padding) 1px;
  width: calc(376px + var(--padding));

  display: flex;
  flex-direction: column;
}
.fast_view_frame.popup .catalog-detail__buy-block .catalog-detail__title {
  display: block;
}

@media (min-width: 768px) {
  .fast_view_frame.popup .catalog-detail__top-info {
    flex-direction: row;
    align-items: stretch;
    height: 100%;
  }
  .fast_view_frame.popup .catalog-detail__main {
    max-height: 800px;
  }
}
@media (max-width: 767px) {
  .popup #fast_view_item {
    overflow: auto;
  }
  .fast_view_frame.popup .catalog-detail__top-info {
    flex-direction: column;
    padding: 30px;
    gap: 20px;
  }
  .fast_view_frame.popup .catalog-detail__main {
    flex-basis: 100%;
    overflow: visible;
  }
  .fast_view_frame.popup .catalog-detail__main-wrapper {
    padding: 0;
    width: auto;
  }
}
@media (max-height: 750px) and (min-width: 768px) {
  .popup #fast_view_item {
    overflow: auto;
  }
  .fast_view_frame.popup .catalog-detail__main {
    overflow: hidden;
    max-height: none;
  }
  .fast_view_frame.popup .detail-gallery-big-inner,
  .fast_view_frame.popup .catalog-detail__main-wrapper {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

/* cart buttons block */
@media (max-width: 767px) {
  .fast_view_frame.popup .catalog-detail__cart .buttons + .info-buttons {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .fast_view_frame.popup .detail-gallery-big-inner {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.fast_view_frame.popup .detail-gallery-big-wrapper {
  padding-top: 100%;
}

@media (max-width: 767px) {
  .fast_view_frame.popup .detail-gallery-big {
    border-right: none;
    max-width: 388px;
    padding: 0;
  }
  .fast_view_frame.popup .detail-gallery-big-wrapper {
    margin-bottom: 37px;
  }
}

.fast_view_frame.popup .detail-gallery-big__item--big {
  max-height: 504px;
}
.fast_view_frame.popup .popup_video {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 0;
  z-index: 3;
}